@font-face {
    font-family: custom-font;
    src: url(fonts/Maple3Cartoon.ttf);
    color: black;
}

@font-face {
    font-family: custom-font-regular;
    src: url(fonts/Maple3Cartoon_regular.ttf);
    color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo-wrapper {
    position: relative;
    margin: auto;
    z-index: 3;
}

.logo-image {
    max-width: 250px;
    margin: auto 0;
    padding: 0;
    overflow: auto;
}


.custom-font-bold{
    font-family: custom-font;
}

.custom-font {
    font-family: custom-font-regular;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-container-benefits {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-container-options {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}


.item {
    justify-content: center;
    display: flex;
    padding: 0 30px;
}

.rcorners {
    border-radius: 7px;
    background: #d4d8dd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px 10px;
}

.tile-title {
    background: #6f86a4;
    padding: 10px 20px;
    color: white;
}

.tile-keyword-row-large {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: start;
}


.item img {
    width: 100%;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    max-width: 450px;
}

.image-wrapper {
    margin: 0 40px
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #819ab7;
    color: white;
    text-align: center;
    display: flex;
}

@media screen and (max-width: 1050px) {
    .grid-wrapper {
        max-width: 1200px;
        margin: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        margin: auto;
    }

    .grid-row2 {
        grid-row: 2;
    }

    .text {
        max-width: 400px;
    }

    .grid-container-benefits {
        grid-template-columns: 50% 50%;
    }

    .item {
        padding: 0;
    }

    .grid-container-options {
        grid-template-columns: 100%;
    }

    .image{
        max-width: 100%;
    }

    .image-wrapper{
        margin: 0;
    }

    .footer{
        display: block;
    }


}


.text-item {
    top: 0;
    display: flex;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.header-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.button6 {
    display: inline-block;
    padding: 0.3em 0.7em;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #7283a4;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: relative;
    user-select: none;
    font-size: min(4.5vw, 20px);
}

.button6:active {
    top: 0.1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
